<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        </style>

        <meta charset="utf-8">
        <title>Python feeding Javascript!</title>
    </head>
    <body>
        <canvas id="lattice-model-canvas"></canvas>
        <script type="text/javascript">

// GET is the default method, so we don't need to set it
fetch('/hello')
    .then(function (response) {
        return response.text();
    }).then(function (text) {
        // Print the greeting as text
        console.log('GET response text:');
        console.log(text);
    });
// Send the same request
fetch('/hello')
    .then(function (response) {
        // But parse it as JSON this time
        return response.json();
    })
    .then(function (json) {
        // Do anything with it!
        console.log('GET response as JSON:');
        console.log(json);
    })
// POST
fetch('/hello', {
    // Specify the method
    method: 'POST',
    // A JSON payload
    body: JSON.stringify({
        "greeting": "Hello from the browser!"
    })
}).then(function (response) {
    return response.text();
}).then(function (text) {
    console.log('POST response: ');
    // Should be 'OK' if everything was successful
    console.log(text);
});

        </script>
    </body>
</html>
